html {
  background-color: lightgray;
  padding: 15px;
}

.body {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: darkblue;
}

.starter {
  font-size: 18px;
}

.page {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: 2px solid darkblue;
  border-radius: 10px;
  width: 100vh;
  align-self: center;

  &-content {
    width: 100vh;
  }
}
